body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
}

th {
    text-align: left;
}
td {
    padding: 1em;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}